#!/usr/bin/make -f

export DH_VERBOSE=1

# dh_auto_configure, dh_auto_build, dh_auto_test, dh_auto_install, dh_auto_clean
# override_dh_auto_configure:

version = $(shell sed -n 's/version="\(.*\)"/\1/p' configure.in | head -n 1)

%:
	dh $@


export DEB_CFLAGS_MAINT_APPEND = -fno-strict-aliasing -Wno-attributes

LC_ALL=
LINGUAS=
LANG=
export LC_ALL LINGUAS LANG

override_dh_auto_configure:
	dh_auto_configure -- --with-readline
# Get rid of rpath
#	 sed "s/^REP_LIBS=\(.*\)-Wl,--rpath -Wl,[^ ]* \(.*\)$$/REP_LIBS=\1 \2/" Makedefs >$$tmpfile ;\
	 mv $$tmpfile Makedefs

# override_dh_auto_build:
#	$(MAKE)

override_dh_install:
	find debian -type d -name info -exec rm -rf {} +
	rm -f debian/sawfish-lisp-source.install
	find debian/tmp/usr/share/sawfish/*/lisp -name '*.jl' | \
		cut -d/ -f3- | grep -v 'autoload\|custom-defaults' > debian/sawfish-lisp-source.install
	cp debian/sawfish-data.install.in debian/sawfish-data.install
	find debian/tmp/usr/share/sawfish/*/lisp -name '*.jlc' | \
		cut -d/ -f3- | grep -v 'main' >> debian/sawfish-data.install
	cat debian/sawfish-data.install

override_dh_missing:
	cat debian/sawfish.install
	dh_missing --fail-missing
#list-missing

# documentation is in 1 package, others have symlink
override_dh_installdocs:
	dh_installdocs --link-doc=sawfish-data -psawfish-lisp-source
	dh_installdocs --link-doc=sawfish -psawfish-dbg
	# to both architecture: all and Any
	dh_installdocs -psawfish-data -psawfish


# These are scripts. (Actually, they are /usr/bin/sawfish-config before and after compiling)
# Should that be a symlink?
override_dh_fixperms:
	dh_fixperms
	# chmod a+x debian/sawfish/usr/share/sawfish/$(version)/lisp/sawfish/cfg/main.jlc
	# chmod a+x debian/sawfish-lisp-source/usr/share/sawfish/$(version)/lisp/sawfish/cfg/main.jl
